    <div class="container margintop-30 marginbot-30">
        <div class="row">
    {{#each doctors}}
        <div class="col-md-3 col-sm-6">
            <div class="bg-gray">
                <div class="panel-default">
                    <img src="../img/team/1.jpg" alt="" style="width: 100%;height: 100%" class="img-thumbnail">
                </div>
                <div class="panel-heading bg-info">
                    <ul class="list-unstyled">
                        <li>{{full_name}}</li>
                        <li>{{category}}</li>
                    </ul>
                </div>
            </div>
        </div>
    {{/each}}
        </div>
    </div>
